.u-section-1 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1 .u-text-1 {
  margin: 15px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 378px;
  height: auto;
  margin: 15px 330px 0 11px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -324px 96px 0 auto;
  padding: 10px 30px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 72px auto 0 905px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 72px auto 60px 905px;
  padding: 10px 37px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 705px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 705px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 485px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    margin-left: 105px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 105px;
  }
}